@model IEnumerable<TestDeBlog.Models.Blog>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Index";
}

<h1>Bienvenue dans mon Blog</h1>

<p class="my-3">
    <a asp-action="Create">Ajouter une entrée</a>
</p>


@foreach (var item in Model)
{

    <div class="blogbox">
        <div class="title">
            <h3>
                @Html.DisplayFor(modelItem => item.Nom)
            </h3>

        </div>
        <div class="datecreation">
            @Html.DisplayFor(modelItem => item.DateFacturation)
        </div>

        <div class="contenu">
            @Html.DisplayFor(modelItem => item.Content)
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="boutons pt-3">

                <a class="btn btn-outline-warning mr-2 text-dark btnedit" asp-action="Edit" asp-route-id="@item.BlogID">Edit</a>

                <a class="btn btn-danger ml-2 btndelete" asp-action="Delete" asp-route-id="@item.BlogID">Delete</a>
            </div>
        }

    </div>

}